<h1><%= "#{@customer.first_name} #{@customer.last_name}" %></h1>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
      <tr>
        <td><%= @customer.email %></td>
        <td><%= @customer.phone %></td>
        <td>
          <%= "#{@customer.address}, #{@customer.city} #{@customer.postcode} (#{@customer.country})" %>
        </td>
      </tr>
    </table>
  </div>
</div>
