// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_form {
  margin-bottom: 20px;
}
#search_form .form-group, #search_form .form-control {
  width: 20%;
  display: inline;
}
