// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#customer_details h3 {
  border-bottom: 2px solid #000;
}
#customer_details ul {
  padding-left: 0;
}
#customer_details ul li {
  list-style: none;
}
#shop_details h3 {
  border-bottom: 2px solid #000;
}
#items_list td {
  vertical-align: middle;
  text-align: center;
}
#items_list .description-cell {
  text-align: left;
}

@media print {
  .buttons {
    display: none;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .barcode-cell {
    width: 36%;
  }
  .quantity-cell {
    width: 5%;
  }
  .default-price-cell, .promo-price-cell {
    width: 10%;
  }
  .sutotal-cell {
    width: 15%;
  }
  a[href]:after {
    content: "" !important;
  }
  span.label, span.label-warning, ul.nav, .status-label-cell, .buttons, #products_list  {
    display: none;
  }
  #paper-trail {
    display: none;
  }
}
