<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order ORDER_ID is ready at SHOP_NAME.</h1>

    <p>
      Hi CUSTOMER_FULL_NAME, we're glad to inform you that your order is ready to be collected.
    </p>

    <h3>Order details:</h3>
    <p>
      The id number of your order is : ORDER_ID
      <br />
      The content of your order is:
      <br />
      PRODUCT_QUANTITY
      <br />
      PRODUCT_DESCRIPTION
    </p>

    <h3>Additional info.</h3>
    <p>
      SHOP_ADDRESS
      <br />
      SHOP_TIMETABLE.
      <br />
      For further info, please refer to:
      <br />
      EMAIL
      <br />
      PHONE
    </p>

    <p>
      See you soon.
    </p>

  </body>
</html>
