<% if product.arriving? %>
  <td>
    <%= form_for product do |f| %>
      <%= f.hidden_field :status, value: "in_stock" %>
      <%= f.submit t('recurring.arrived'), data: { confirm: t('recurring.arrived_confirmation_notice') } %>
    <% end %>
  </td>
<% else %>
  <td>&nbsp;</td>
<% end %>
