<% if product.arriving? %>
  <td>
    <%= form_for product do |f| %>
      <%= f.hidden_field :status, value: "in_stock" %>
      <%= f.submit "Arrived!", data: { confirm: "Marking the product as arrived will send emails to every customer waiting for it. Are you sure you want to continue?"} %>
    <% end %>
  </td>
<% else %>
  <td>&nbsp;</td>
<% end %>
